# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
logs/
*.log

# Backups
backup/

# Arquivos gerados
audios/
anki/
exports/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store