# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Logs
logs/*.log

# Áudios gerados
audio/

# Arquivos Anki gerados
anki/

# Backups
backup/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini