aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.6.17
colorama==0.4.6
edge-tts==7.2.8
frozenlist==1.8.0
idna==3.18
multidict==6.7.1
numpy==2.5.0
pandas==3.0.3
propcache==0.5.2
python-dateutil==2.9.0.post0
six==1.17.0
tabulate==0.10.0
tqdm==4.68.3
typing_extensions==4.15.0
tzdata==2026.2
yarl==1.24.2